:root {
  --font-rubik: "Rubik Dirt", cursive;
  --color-shark: #584e4e;
  --color-green: #7ade30;
  --color-gray: #656060;
  --color-bg-1: #1b1b32;
  --color-bg-2: #0d6efd;

  /*
    Reemplazar estilos Bootstrap
  */
  --bs-font-sans-serif: "Quicksand", sans-serif !important;
  --bs-font-monospace: "Share Tech Mono", monospace !important;
  --bs-light: #f5f6f7 !important;
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    padding: 16px 0;
    font-family: var(--font-rubik);
  }

  h3 {
    font-size: 1.2rem;
    color: var(--color-shark);
  }
}

/*
  Utility Class
*/

.dark-section {
  color: var(--bs-white);
  background-color: var(--color-bg-1);
}

.light-section {
  color: var(--bs-dark);
  background-color: var(--bs-white);
}

.btn-info {
  font-size: 1.1rem;
  margin: 18px;
}