footer {
  min-height: 500px;

  img {
    --logo-width-height: 80px;

    height: var(--logo-width-height);
    width: var(--logo-width-height);
    margin: 8px;
  }

  p:first-of-type {
    font-family: var(--bs-font-sans-serif);
  }

  .social-media-icons {
    a {
      --icon-width-height: 3rem;

      width: var(--icon-width-height);
      height: var(--icon-width-height);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border: 2px solid var(--bs-white);
      border-radius: 50%;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: var(--bs-white);
        border: 2px solid var(--color-bg-2);

        i {
          color: var(--bs-dark);
        }
      }
    }

    i {
      color: var(--bs-white);
      font-size: 1.5rem;
      transition: all 0.2s ease-in;
    }
  }
}