.hero {
  background-color: var(--bs-light);
  min-height: calc(100dvh - 76px);
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-family: var(--font-rubik);
  }
}

.hero-principal {
  padding: 48px;

  h2 {
    font-size: 1.5rem;
    color: #615151;
  }
}

.hero-imagen-desarrollador {
  --image-width-height: 200px;

  width: var(--image-width-height);
  height: var(--image-width-height);
  margin: 24px;
}

.hero-inferior {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-size: 1.2rem;
}