#testimonials {
  padding: 40px 40px 80px 40px;

  .carousel {
    max-width: 800px;
  }

  .carousel-item {
    height: 500px;

    img {
      --img-width-heigh: 140px;

      height: var(--img-width-heigh);
      width: var(--img-width-heigh);
      margin: 8px 8px 16px 8px;

      @media (max-width: 800px) {
        --img-width-heigh: 120px;
      }
    }

    .testimonial-text {
      max-width: 70%;
      font-size: 1.2rem;
      text-align: center;
      font-family: var(--bs-font-monospace);

      @media (max-width: 800px) {
        font-size: 1.1rem;
      }
    }

    .testimonial-info {
      font-weight: bold;
      text-align: center;

      p {
        margin-bottom: 0;
      }

      .client {
        font-size: 1.2rem;
      }

      .job {
        font-size: 0.9rem;
        color: var(--color-gray);
      }
    }
  }
}