#contact {
  padding: 0 16px;

  .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 16px;
    margin-top: -80px;
    background-color: var(--color-bg-2);
    border-radius: 16px;
    box-shadow: 0px 1px 4px 1px var(--bs-white);

    @media (max-width: 767px) {
      margin-top: -32px;
    }
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;

    p {
      color: var(--bs-white);
      font-size: 1.2rem;
    }

    button {
      color: var(--bs-white);
      font-weight: bold;
      background-color: transparent;
      border: 2px solid var(--bs-white);
      padding: 24px 32px;
      margin: 16px;
      border-radius: 96px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--bs-white);
        color: var(--bs-dark);

        i {
          color: var(--bs-dark);
        }
      }

      i {
        color: var(--bs-white);
        font-size: 1.3rem;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}